extends layout

block header
  div.navbar.navbar-inverse.navbar-static-top
    div.navbar-inner
      div.container
        a.brand(href="#") TREV
        ul.nav.pull-right
          li
            a(href="#") Rep List
          li
            a(href="#") Options

block content
  div.container
    div.row
      div.span12
        h1= title
        form(action="/completetask", method="post")
          table.table.table-hover
            thead
              tr  
                td Name
                td Category
                td Date
                td Complete
            tbody
              each task in tasks
                tr
                  td #{task.itemName}
                  td #{task.itemCategory}
                  - var day   = task.itemDate.getDate();
                  - var month = task.itemDate.getMonth() + 1;
                  - var year  = task.itemDate.getFullYear();
                  td #{month + "/" + day + "/" + year}
                  td
                    input(type="checkbox", name="#{task._id}", value="#{!task.itemCompleted}", checked=task.itemCompleted)
          button.btn.btn-primary(type="submit") Update tasks
    div.row
      div.span12
        legend New Task 
        form.form-inline(action="/addtask", method="post")
          input.input-medium(type="textbox", name="item[name]", placeholder="Item name")
          input.input-medium(type="textbox", name="item[category]", placeholder="Item Category")
          button.btn.btn-primary(type="submit") Add item