extends layout

block content
  h1= title
  form(action="/completetask", method="post")
    table(class="table table-hover")
      thead
        tr  
          td Name
          td Category
          td Date
          td Complete
      each task in tasks
      tbody
        tr
          td #{task.itemName}
          td #{task.itemCategory}
          - var day   = task.itemDate.getDate();
          - var month = task.itemDate.getMonth() + 1;
          - var year  = task.itemDate.getFullYear();
          td #{month + "/" + day + "/" + year}
          td
            input(type="checkbox", name="#{task._id}", value="#{!task.itemCompleted}", checked=task.itemCompleted)
    input(type="submit", value="Update tasks")
  hr
  form(action="/addtask", method="post")
    fieldset
      legend= "New Task"
      label= "Item Name:"
        input(type="text", name="item[name]", placeholder="Type something…")
      label= "Item Category:"
        input(type="text", name="item[category]", placeholder="Type something…")
      button(type="submit" class="btn" value="Add item")